/* For generating pdf and printing. */

@media print {
    @page { margin: 0; } /* The only working way to remove headers and footers, it seems. */
    body { margin: 2cm}
}

/* Aspects. */
.Comment       { color: #B22222 font-style: italic} /*#008B00 5e8c61ff; #008B00 ;#98b9f2ff; #8B7500;#44af69ff*/
.Keyword       { color: #CD6600 } /* ##EA9258; 6f9cebff #ff858dff #c191a1ff #a4508bff #eac435ff #f17105ff #CD6600 */
.String        { color: #B22222 }
.Number        { color: #A020F0 }
.Symbol        { color: #404040 }
.PrimitiveType { color: #0000CD }
.Operator      {}

/* NameKinds. */
.Bound                  { color: black   }
.InductiveConstructor   { color: #000000 } /* aa6373ff */
.CoinductiveConstructor { color: #8B7500 }
.Datatype               { color: #0000CD }
.Field                  { color: #EE1289 }
.Function               { color: #0000CD } /* 2b50aaff;  #918ef4ff #2b50aaff  */
.Module                 { color: #A020F0 }  /* #306bacff #593c8fff #ff9fe5ff #5f0a87ff  */
.Postulate              { color: #0000CD }
.Primitive              { color: #0000CD }
.Record                 { color: #0000CD }  /* 1a8fe3ff */

/* OtherAspects. */
.DottedPattern      {color: black }
.UnsolvedMeta       { color: black; background: yellow         }
.UnsolvedConstraint { color: black; background: yellow         }
.TerminationProblem { color: black; background: #FFA07A        }
.IncompletePattern  { color: black; background: #F5DEB3        }
.Error              { color: #d11149ff;   text-decoration: underline }
.TypeChecks         { color: black; background: #ADD8E6        }

/* Standard attributes. */
a { text-decoration: none }
a[href]:hover { background-color: #B4EEB4 }


/* From the official agda.sty latex style file */
    /* \definecolor{AgdaComment}      {HTML}{B22222} */
    /* \definecolor{AgdaPragma}       {HTML}{000000} */
    /* \definecolor{AgdaKeyword}      {HTML}{CD6600} */
    /* \definecolor{AgdaString}       {HTML}{B22222} */
    /* \definecolor{AgdaNumber}       {HTML}{A020F0} */
    /* \definecolor{AgdaSymbol}       {HTML}{404040} */
    /* \definecolor{AgdaPrimitiveType}{HTML}{0000CD} */

    /* % NameKind colours. */
    /* \definecolor{AgdaBound}                 {HTML}{000000} */
    /* \definecolor{AgdaGeneralizable}         {HTML}{000000} */
    /* \definecolor{AgdaInductiveConstructor}  {HTML}{008B00} */
    /* \definecolor{AgdaCoinductiveConstructor}{HTML}{8B7500} */
    /* \definecolor{AgdaDatatype}              {HTML}{0000CD} */
    /* \definecolor{AgdaField}                 {HTML}{EE1289} */
    /* \definecolor{AgdaFunction}              {HTML}{0000CD} */
    /* \definecolor{AgdaMacro}                 {HTML}{458B74} */
    /* \definecolor{AgdaModule}                {HTML}{A020F0} */
    /* \definecolor{AgdaPostulate}             {HTML}{0000CD} */
    /* \definecolor{AgdaPrimitive}             {HTML}{0000CD} */
    /* \definecolor{AgdaRecord}                {HTML}{0000CD} */
    /* \definecolor{AgdaArgument}              {HTML}{404040} */

    /* % Other aspect colours. */
    /* \definecolor{AgdaDottedPattern}     {HTML}{000000} */
    /* \definecolor{AgdaUnsolvedMeta}      {HTML}{FFFF00} */
    /* \definecolor{AgdaUnsolvedConstraint}{HTML}{FFFF00} */
    /* \definecolor{AgdaTerminationProblem}{HTML}{FFA07A} */
    /* \definecolor{AgdaIncompletePattern} {HTML}{F5DEB3} */
    /* \definecolor{AgdaError}             {HTML}{FF0000} */

    /* % Misc. */
    /* \definecolor{AgdaHole}              {HTML}{9DFF9D} */

