body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 6em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.fnote {
  box-shadow: 0 0 0 2em #F4AAB9,
              0 0 0 4em #66CCFF;
  margin: 4em;
  padding:1em;
}

.solid_box {
  border: 1px black solid
}
.solid_box #title {
  border: 1px black solid;
  margin-left: 1em; 
  padding: 0.2em 0.8em
}

.color_box {
  box-shadow: 0 0 0 2em #F4AAB9,
              0 0 0 4em #66CCFF;
  margin: 2em;
  padding:1em;
}
.color_box #title {
  position: relative;
  top: -0.5em;
  padding: 0.2em 0.8em
  margin-left: 1em;
  display: inline;
  background-color: white;
}
.color_box #content {}


.dotted_box {
  border: #3c5a86 1px dotted;
}
.dotted_box #title {
  position: relative;
  top: -0.5em;
  padding: 0.2em 0.8em
  margin-left: 1em;
  display: inline;
  background-color: white;
}
.dotted_box #content {}

/* usage:
<div class="dotted_box" id="bill_to">
  <div id="title">Bill To</div>
  <div id="content">
    Stuff goes here.<br> For example, a bill-to address
  </div>
</div>
*/

/* or just use fieldset:
 <fieldset style="border: 1px black solid">

      <legend style="border: 1px black solid;margin-left: 1em; padding: 0.2em 0.8em ">title</legend>

      Text within the box <br />
      Etc
    </fieldset>

*/
