_static/csp
_static/calco
_static/demeo*
_static/tex
_build/
latex_images
png_images
exclude
*.pyc
.venv
.vscode
*~
*.agdai
.DS_Store
*.aux
*.blg
*.log
*.out
*.vtc
*.ptb
*.tar.gz
sandbox/scratch
markdown
test
_site
rst
html
MGS*.html
css
sphinx
