_static/csp
_static/calco
_static/demeo*
_static/paper/arxiv-pdf
_static/paper/lipics
_static/paper/lipics-short/aux/postprocessed
_static/paper/lipics-short/node_modules
_static/paper/lipics-short/archive
_static/paper/lipics-short/Algebras
_static/paper/lipics-short/Birkhoff
_static/paper/lipics-short/Homomorphisms
_static/paper/lipics-short/Prelude
_static/paper/lipics-short/Relations
_static/paper/lipics-short/Subalgebras
_static/paper/lipics-short/Terms
_static/paper/lipics-short/Varieties
_static/archive
UALib/html/*.tex
UALib/Appendix
UALib/Appendix.lagda
latex
_static/tex
_build/
latex_images
png_images
exclude
*.pyc
.venv
.vscode
*~
*.agdai
.DS_Store
*.aux
*.blg
*.log
*.out
*.vtc
*.ptb
*.tar.gz
sandbox/scratch
markdown
test
_site
rst
sphinx
ARCHIVE
jekyll
_site-prev
_prev


