{% extends "!page.html" %}

{% set css_files = css_files + ["_static/custom.css"] %}

      
{% block header %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spicy+Rice|Rye|Diplomata|Roboto+Mono|Alfa+Slab+One|Concert+One|Ultra|Pacifico|Abril+Fatface|Creepster|Fascinate+Inline|Jacques+Francois+Shadow|Oleo+Script+Swash+Caps">
    <script type="text/javascript">
        $(document).ready(function() {
            $(".toggle > *").hide();
            $(".toggle .header").show();
            $(".toggle .header").click(function() {
                $(this).parent().children().not(".header").toggle(400);
                $(this).parent().children(".header").toggleClass("open");
            })
        });
    </script>
{% endblock %}