.proof {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Titles */
.proof .proof-title {
  background-color: #9fb1b4;
  border: 1px solid #86989b;
  color: white;
  font-size: 120%;
  }

/* Content */
.proof-content {
  border: 1px solid #9fb1b4;
  background-color: #F5F7F9;
  padding: 0.5em 1em;
}


/* Toggle proof */
.proof-type-proof > .proof-title {
    display: block;
    clear: both;
}

.proof-type-proof > .proof-title:after {
    content: " â–¼";
}

.proof-type-proof > .proof-title.open:after {
    content: " â–²";
}

.toggle .header {
    display: block;
    clear: both;
}

/* .toggle .header:after {
    content: " ↓ reveal ↓";
} */
.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}
/* .toggle .header.open:after {
    content: " ↑ hide ↑";
} */

.premium {
    color:gray;
    font-weight:700;
}

.red {
    color:#aa0060; 
    font-weight:500; 
    font-size:16px
}

.green {
    color:green; 
    font-weight:500;
    font-family: 'Courier New', Courier, monospace;
}

.lightgray {
    color:rgb(188, 190, 188); 
    font-weight:500;
    font-family: 'Courier New', Courier, monospace;
}

.cyan {
    color:darkcyan; 
    font-weight:500
}

.code1 {
    font-family: 'FreeMono', monospace;
    font-weight:500;
}

.freemono {
    font-family: 'FreeMono', monospace;
    font-weight:600;
}
.code2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 520;
}

.code {
  font-family: 'Roboto Mono';
}

.cmd {
    font-family: 'Courier';
    font-weight:500;
    font-size: 14px
}
.codesm {
    font-family: 'Courier';
    font-weight:500;
    font-size: 12px
}

.catalt2 {
    font-family: 'Spicy Rice';
}

.cat {
    font-family: 'Rye';
}

.catalt4 {
    font-family: 'Jacques Francois Shadow';
    font-size: 16px
}

.catalt5 {
    font-family: 'Fascinate Inline';
    font-size: 16px
}

.catalt3 {
    font-family: 'Diplomata';
    font-size: 16px
}

.catalt1 {
    font-family: 'Oleo Script Swash Caps';
    font-size: 24px
}
